:root {
  --font-color: #313131;
  --sans-serif-font: sans-serif;
  --primary-color: #339999;
  --secondary-color: #FF9900;
}

html {
  font-family: var(--sans-serif-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);
  margin: 0;
}

body {
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
}

nav a {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.navbar li {
  padding-left: 1rem;
}

.nav-logo {
  color: var(--secondary-color);
  font-weight: 800;
}
.episode-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}

.episode-card-content {
  margin-left: 2rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  border-top-color: var(--secondary-color);
  border-top-style: solid;
  padding: 1rem;
  font-size: 0.9rem;
}

footer a {
  color: white;
  text-decoration: underline;
}
