:root {
  --font-color: #313131;
  --sans-serif-font: 'Quicksand', sans-serif;
  --primary-color: #339999;
  --secondary-color: #FF6600;
}

html {
  font-family: var(--sans-serif-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--font-color);
  background-color: var(--primary-color);
  margin: 0;
}

body {
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.div {

}

.subscribe-tag {
  font-size: 1.2rem;
  font-weight: bold;
}

.button {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

img {
  border-radius: 3px;
}

main {
  padding: 1rem;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
  vertical-align: bottom;
}

nav a {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.navbar li {
  padding-left: 1rem;
}

.nav-logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.episode-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.episode-card img {
  max-width: 200px;
}

.episode-card-content {
  margin-left: 2rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  font-size: 0.8rem;
}

footer a {
  color: white;
  text-decoration: underline;
}
