<footer>
  <p>
    Unless otherwise noted, content on this site is available under the
    <a href="http://wiki.p2pfoundation.net/Peer_Production_License">Peer
    Production License</a>.
  </p>
  <p>
    Intro music is the track <a
    href="https://www.bensound.com/royalty-free-music/track/endless-motion-edm-electro">Endless
    Motion</a>, offered royalty free by <a
    href="http://bensound.com">bensound.com</a>.
  </p>
  <p>
    Source code for this site is available at
    <a href="https://github.com/anaulin/realcoopstories">github.com/anaulin/realcoopstories</a>
  </p>
</footer>
