{{ define "main" }}

  A podcast where cooperative workers tell their stories, along the way
  answering questions like: How is the day-to-day in a co-op? How does one
  get started? How do you find others to start something with? How do you get
  initial funding? How do you make decisions? How does it compare to
  non-cooperative work? What challenges have you faced?

  <p>{{ partial "subscribe-buttons.html" . }}</p>

  <h2>Episodes</h2>
  {{ range where (where $.Site.Pages "Type" "episode") "Kind" "page" -}}
    {{ $permalink := .Permalink }}
    <div class="episode-card">
      {{- with .Params.episode_image -}}
      <a href="{{ $permalink }}"><img src="{{ . }}" /></a>
      {{- end -}}
      <div class="episode-card-content">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Description }}</p>
        <a href="{{ .Permalink }}">Listen & read</a>
      </div>
    </div>
  {{ end }}
{{ end }}
